html{
    overflow-y: auto !important;
    overflow-x: hidden;
}
#add-btn{
    height: 80px;
    width: 80px;
    position: fixed;
    right: 9%;
    bottom: 16%;
    cursor: pointer;
}

#main-wrapper{
    width: 100vw;
}

.post{
    cursor: pointer;
}